<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="RestrictionGroupConfig.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="RestrictionGroupConfig.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
    </startup>
    <applicationSettings>
        <RestrictionGroupConfig.Properties.Settings>
            <setting name="RestrictionGroupConfig_GL104000_Screen" serializeAs="String">
                <value>http://10.211.55.10/RestrictionTest/Soap/GL104000.asmx</value>
            </setting>
            <setting name="RestrictionGroupConfig_GL202500_Screen" serializeAs="String">
                <value>http://10.211.55.10/RestrictionTest/Soap/GL202500.asmx</value>
            </setting>
            <setting name="RestrictionGroupConfig_GL203000_Screen" serializeAs="String">
                <value>http://10.211.55.10/RestrictionTest/Soap/GL203000.asmx</value>
            </setting>
        </RestrictionGroupConfig.Properties.Settings>
    </applicationSettings>
    <userSettings>
        <RestrictionGroupConfig.Properties.Settings>
            <setting name="Password" serializeAs="String">
                <value>admin</value>
            </setting>
            <setting name="Login" serializeAs="String">
                <value>admin</value>
            </setting>
        </RestrictionGroupConfig.Properties.Settings>
    </userSettings>
</configuration>